# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# SQLite Database
db.sqlite3

# -------------------------
# Environment Variables
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# Pytest
# -------------------------
.pytest_cache/
.cache/

# -------------------------
# Reports
# -------------------------
reports/
htmlcov/
coverage.xml
.coverage

# -------------------------
# Screenshots
# -------------------------
screenshots/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# PyCharm
# -------------------------
.idea/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Python Build
# -------------------------
build/
dist/
*.egg-info/